table{
    border-collapse: collapse;
    width: 650px;
    height: 650px;
        border: 1px solid black;
        /* margin-top: 5%; */
        
        margin: auto;
        
        box-shadow: 20px 20px 20px 20px;
}


.white{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    
}
table:hover{
    transition: 0.3ms;
    transform: scale(1.1,1.1);
}
td:hover{
    transition: 0.3ms;
    transform: scale(1.1,1.1);
}

.black{
    border: 1px solid black;
    background-image: url("dark.jpeg");
}

p{
    /* margin: auto; */
    text-align: center;
    color: black;
    /* font-family: cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

body{
    background-image: url("white.jpeg");
    background-repeat: repeat;
    /* background-size:cover; */
}
/* .chess-white-box{
    border: 30px solid darkgrey;
    

}
.chess-black-box{
    border: 30px solid darkgrey;
    rotate:initial;
}
 */
